name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  BOOST_VERSION: 1.81.0
  CMAKE_FLAGS: -D WINAPI_UTF8_TESTS=ON

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Linting
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Run clang-format
        uses: egor-tensin/clang-format@v1

  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2022, windows-2025]
        platform: [x64, x86]
        configuration: [Debug, RelWithDebInfo]
        include:
          # MinGW builds are done on Linux, since it's more up-to-date there, and
          # it's much faster.
          - {os: ubuntu-latest, toolset: mingw}
          - {os: windows-2022, toolset: vs2022}
          # At the moment, the 2025 image still has VS 2022.
          - {os: windows-2025, toolset: vs2022}
    runs-on: '${{ matrix.os }}'
    name: 'Build: ${{ matrix.os}} / ${{ matrix.platform }} / ${{ matrix.configuration }}'
    defaults:
      run:
        shell: pwsh
    env:
      TOOLSET: '${{ matrix.toolset }}'
      PLATFORM: '${{ matrix.platform }}'
      CONFIGURATION: '${{ matrix.configuration }}'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Cache Boost
        uses: actions/cache@v5
        with:
          path: './build/boost_*.tar.gz'
          key: 'boost_${{ env.BOOST_VERSION }}'
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Set up MinGW
        uses: egor-tensin/setup-mingw@v3
        with:
          platform: '${{ matrix.platform }}'
        if: matrix.toolset == 'mingw'
      - name: Build Boost
        run: make deps
      - name: Build
        run: make install
      - name: Upload binaries
        uses: actions/upload-artifact@v6
        with:
          name: 'winapi-utf8-${{ matrix.os }}-${{ matrix.platform }}-${{ matrix.configuration }}'
          path: './build/install/'
          if-no-files-found: error
      - name: Test
        run: make test
        if: runner.os == 'Windows'

  docs:
    needs: [lint, build]
    runs-on: ubuntu-latest
    name: Docs
    if: github.ref == 'refs/heads/master'
    env:
      TOOLSET: mingw
      CMAKE_FLAGS: -D WINAPI_UTF8_TESTS=OFF
    steps:
      # This is rather stupid. In order to build Doxygen docs, I need a working
      # CMake build directory, so I assume that means I need to pretty much
      # build the project. TODO: research if this is possible without having a
      # Doxyfile.
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Set up MinGW
        uses: egor-tensin/setup-mingw@v3
      - name: Install Doxygen
        run: |
          sudo apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -yq --no-install-recommends doxygen
      - name: Build
        run: make install
      - name: Build docs
        run: make docs
      - name: Publish to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ./build/cmake/html
          single-commit: true
